/*--- this sections takes care of the 4 tabs.
text align centers the tabs on the page 
list-style:none, removes bullet 

*/

.tabs {
	list-style-type: none;
	padding:0;
	margin:0;
	position:relative;
	text-align: center;
	
}


/*--- if you remove just the FONT code and leave padding from below, the tab would be different. They would be so far away

Tabs li helps us to format within the above tab

*/

.tabs li {
  display: inline;
  <font color='"Red"'>padding-right: 50px;</font>
	
}




.tabs li > input{
	display:none;
}

/*--- color black gives black color on tab text; border bottom/top implies  line on top and bottom of the tab:

border-bottom:5px solid #000000;
	border-top:5px solid #000000;
*/

.tabs li > label {
	display.inline-block;
		
		height:30px;
	line-height:30px;
	padding:10px 30px;
	cursor:pointer;
			color: black;
		 
}



/*--- text-align puts our paragraph within each text to left 
Margin left gives my paragraph certain 'cm' away from left
*/

.tabs .tab-content{
	display:none;
		position:absolute;
	text-align: justify;
	margin-left: 12cm;
	margin-right: 10cm;
	
}



/*--- Instead of just color in the code below, we can do background-color:#5BC85B, to get box green (instead of just text
green) when tab is selected*/

.tabs li> input:checked + label {
	color:red;
}
	
.tabs li > input:checked ~ .tab-content {
	display:block;
}	

/*--- We have the following code because in HTML we have img as circle */
.img-circle {
    border-radius: 50%;
}

/*--- We have the following code because in HTML we used box in Reviews section

Height increases height; widht increase width of box; padding increases where to start text*/
.boxreview {
  width: 700px;
    height: 100px;
	background: url(mark.jpg) no-repeat transparent;
	padding: 3px;
	background-size: 15px 15px;    
    
    text-align: left;
	     border: 1px solid maroon;
}

/*--- I have footer code in html and the following code accompnys that */

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
    text-align: center;
}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* Continuing from above footer ---When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

p.search {
    margin-right: 10cm;
}


/* Following code is for the HTML code for DIV side by side in Contacts. We can put border around it. border:1px solid red; But I decided not to*/
#parent_div_1, #parent_div_2, #parent_div_3{
    width:200px;
    height:100px;
        margin-right:33px;
	    float:left;
}
.child_div_1{
    float:left;
	    }


